In [1]:
import pandas as pd

In [3]:
twenty08_13 = pd.read_csv('data/tweets08-13.csv').drop("Unnamed: 0",axis=1)
twenty14_21 = pd.read_csv('data/tweets14-21_processed (final).csv').drop("year_new",axis=1)

In [4]:
twenty08_13.head()

,date,tweet_id,text,year,text_preprocessed,vader,subjectivity
0,2008-12-30 01:43:34+00:00,1085064058,Wants to get NARS orgasm blush :),2008,Wants to get orgasm :),0.4588,0.55
1,2008-12-22 01:05:33+00:00,1071394691,"@carbfanboy yay! Aveda, Smashbox, and Stila ar...",2008,"yay! Aveda, Smashbox, and Stila are on the lis...",-0.3147,0.75
2,2008-11-30 08:15:56+00:00,1030483036,really liking the nars powder and blush so far...,2008,"really liking the powder and so far, no break out",0.1317,0.60
3,2008-11-26 17:13:38+00:00,1024856953,Hey ladies..why do I all of a sudden have a le...,2008,Hey ladies..why do I all of a sudden have a le...,0.6996,0.60
4,2008-11-07 23:19:23+00:00,995675797,@DailyMakeover Nars blush in Orgasm! Best. Bl...,2008,in Orgasm! Best. Blush. Ever.,0.6696,0.30

In [5]:
twenty14_21.head()

,date,tweet_id,text,year,text_preprocessed,vader,subjectivity
0,2014-12-31 21:46:43+00:00,5.500000e+17,"@Barakatswhore I got brow gel, gimme brow, Nar...",2014,"I got brow gel, gimme brow, stick and bronze...",0.4588,0.000000
1,2014-12-31 08:29:37+00:00,5.500000e+17,You know your boyfriend is the best when he bu...,2014,You know your boyfriend is the best when he bu...,0.8625,0.150000
2,2014-12-31 04:31:35+00:00,5.500000e+17,And my Nars highlighting blush 💁,2014,And my highlighting 💁,0.4939,0.000000
3,2014-12-31 00:16:59+00:00,5.500000e+17,Nars super orgasm blush is needed. Orgasm does...,2014,super orgasm is needed. Orgasm does nothing f...,0.5994,0.666667
4,2014-12-30 21:46:46+00:00,5.500000e+17,"I'm obsessed with the orgasm blush by NARS, it...",2014,"I'm obsessed with the orgasm by , it's perfec...",0.9001,1.000000

In [6]:
scores_allyears = pd.concat([twenty08_13, twenty14_21])
scores_allyears.reset_index(drop=True, inplace=True)
scores_allyears

,date,tweet_id,text,year,text_preprocessed,vader,subjectivity
0,2008-12-30 01:43:34+00:00,1.085064e+09,Wants to get NARS orgasm blush :),2008,Wants to get orgasm :),0.4588,0.550000
1,2008-12-22 01:05:33+00:00,1.071395e+09,"@carbfanboy yay! Aveda, Smashbox, and Stila ar...",2008,"yay! Aveda, Smashbox, and Stila are on the lis...",-0.3147,0.750000
2,2008-11-30 08:15:56+00:00,1.030483e+09,really liking the nars powder and blush so far...,2008,"really liking the powder and so far, no break out",0.1317,0.600000
3,2008-11-26 17:13:38+00:00,1.024857e+09,Hey ladies..why do I all of a sudden have a le...,2008,Hey ladies..why do I all of a sudden have a le...,0.6996,0.600000
4,2008-11-07 23:19:23+00:00,9.956758e+08,@DailyMakeover Nars blush in Orgasm! Best. Bl...,2008,in Orgasm! Best. Blush. Ever.,0.6696,0.300000
...,...,...,...,...,...,...,...
14933,2021-01-04 23:14:23+00:00,1.350000e+18,"@AaaclmyyAelny Well. I like Nudestix a lot, es...",2021,"Well. I like Nudestix a lot, especially their ...",0.9451,0.663636
14934,2021-01-04 16:03:41+00:00,1.350000e+18,@NARSCosmetics Ohhh....myyyyyy...now this coll...,2021,Ohhh....myyyyyy...now this collection is screa...,0.8109,0.500000
14935,2021-01-03 21:55:38+00:00,1.350000e+18,Bought the Nars Deep throat blush cause I’m co...,2021,Bought the Deep throat cause I’m como siempr...,0.0000,0.400000
14936,2021-01-01 20:01:45+00:00,1.350000e+18,@mariofthemoon Thank you 🥺 NARS bronzer in Lag...,2021,Thank you 🥺 bronzer in Laguna & Milani Baked ...,0.3612,0.950000
14937,2021-01-01 17:49:12+00:00,1.350000e+18,@Engienix thank u sm! i used the tarteist pro ...,2021,"thank u sm! i used the tarteist pro palette , ...",0.4199,0.700000

In [7]:
scores_allyears['year_new'] = scores_allyears.year.map({2008:2008, 2009:2009, 2010:2010, 2011:2011, 2012:2012, 2013:2013,
                                                 2014:2014, 2015:2015, 2016:2016, 2017:2017, 2018:2018, 2019:2019, 2020:2020, 2021:2020})
scores_allyears

,date,tweet_id,text,year,text_preprocessed,vader,subjectivity,year_new
0,2008-12-30 01:43:34+00:00,1.085064e+09,Wants to get NARS orgasm blush :),2008,Wants to get orgasm :),0.4588,0.550000,2008
1,2008-12-22 01:05:33+00:00,1.071395e+09,"@carbfanboy yay! Aveda, Smashbox, and Stila ar...",2008,"yay! Aveda, Smashbox, and Stila are on the lis...",-0.3147,0.750000,2008
2,2008-11-30 08:15:56+00:00,1.030483e+09,really liking the nars powder and blush so far...,2008,"really liking the powder and so far, no break out",0.1317,0.600000,2008
3,2008-11-26 17:13:38+00:00,1.024857e+09,Hey ladies..why do I all of a sudden have a le...,2008,Hey ladies..why do I all of a sudden have a le...,0.6996,0.600000,2008
4,2008-11-07 23:19:23+00:00,9.956758e+08,@DailyMakeover Nars blush in Orgasm! Best. Bl...,2008,in Orgasm! Best. Blush. Ever.,0.6696,0.300000,2008
...,...,...,...,...,...,...,...,...
14933,2021-01-04 23:14:23+00:00,1.350000e+18,"@AaaclmyyAelny Well. I like Nudestix a lot, es...",2021,"Well. I like Nudestix a lot, especially their ...",0.9451,0.663636,2020
14934,2021-01-04 16:03:41+00:00,1.350000e+18,@NARSCosmetics Ohhh....myyyyyy...now this coll...,2021,Ohhh....myyyyyy...now this collection is screa...,0.8109,0.500000,2020
14935,2021-01-03 21:55:38+00:00,1.350000e+18,Bought the Nars Deep throat blush cause I’m co...,2021,Bought the Deep throat cause I’m como siempr...,0.0000,0.400000,2020
14936,2021-01-01 20:01:45+00:00,1.350000e+18,@mariofthemoon Thank you 🥺 NARS bronzer in Lag...,2021,Thank you 🥺 bronzer in Laguna & Milani Baked ...,0.3612,0.950000,2020
14937,2021-01-01 17:49:12+00:00,1.350000e+18,@Engienix thank u sm! i used the tarteist pro ...,2021,"thank u sm! i used the tarteist pro palette , ...",0.4199,0.700000,2020

In [8]:
agg_score = scores_allyears.groupby('year_new').mean().drop(['tweet_id','year'], axis=1)
agg_score

             vader  subjectivity
year_new
2008      0.371095      0.459237
2009      0.370860      0.475603
2010      0.362980      0.490446
2011      0.313569      0.483766
2012      0.314022      0.471639
2013      0.263669      0.456229
2014      0.274153      0.439074
2015      0.253708      0.426396
2016      0.253013      0.419337
2017      0.231176      0.413557
2018      0.307571      0.429923
2019      0.342758      0.425779
2020      0.360757      0.422651

In [9]:
agg_score.to_csv('data/alltweets_score.csv')