In [1]:
import pandas as pd

In [22]:
twenty08_13 = pd.read_csv('/content/tweets08-13.csv').drop("Unnamed: 0",axis=1)
twenty14_21 = pd.read_csv('/content/tweets14-21_processed (final).csv')

In [23]:
twenty08_13.head()

                        date    tweet_id  ...   vader  subjectivity
0  2008-12-30 01:43:34+00:00  1085064058  ...  0.4588          0.55
1  2008-12-22 01:05:33+00:00  1071394691  ... -0.3147          0.75
2  2008-11-30 08:15:56+00:00  1030483036  ...  0.1317          0.60
3  2008-11-26 17:13:38+00:00  1024856953  ...  0.6996          0.60
4  2008-11-07 23:19:23+00:00   995675797  ...  0.6696          0.30

[5 rows x 7 columns]

In [24]:
twenty14_21.head()

                        date      tweet_id  ... subjectivity  year_new
0  2014-12-31 21:46:43+00:00  5.500000e+17  ...     0.000000      2014
1  2014-12-31 08:29:37+00:00  5.500000e+17  ...     0.150000      2014
2  2014-12-31 04:31:35+00:00  5.500000e+17  ...     0.000000      2014
3  2014-12-31 00:16:59+00:00  5.500000e+17  ...     0.666667      2014
4  2014-12-30 21:46:46+00:00  5.500000e+17  ...     1.000000      2014

[5 rows x 8 columns]

In [25]:
scores_allyears = pd.concat([twenty08_13, twenty14_21])
scores_allyears.reset_index(drop=True, inplace=True)
scores_allyears

                            date      tweet_id  ... subjectivity  year_new
0      2008-12-30 01:43:34+00:00  1.085064e+09  ...     0.550000       NaN
1      2008-12-22 01:05:33+00:00  1.071395e+09  ...     0.750000       NaN
2      2008-11-30 08:15:56+00:00  1.030483e+09  ...     0.600000       NaN
3      2008-11-26 17:13:38+00:00  1.024857e+09  ...     0.600000       NaN
4      2008-11-07 23:19:23+00:00  9.956758e+08  ...     0.300000       NaN
...                          ...           ...  ...          ...       ...
14933  2021-01-04 23:14:23+00:00  1.350000e+18  ...     0.663636    2020.0
14934  2021-01-04 16:03:41+00:00  1.350000e+18  ...     0.500000    2020.0
14935  2021-01-03 21:55:38+00:00  1.350000e+18  ...     0.400000    2020.0
14936  2021-01-01 20:01:45+00:00  1.350000e+18  ...     0.950000    2020.0
14937  2021-01-01 17:49:12+00:00  1.350000e+18  ...     0.700000    2020.0

[14938 rows x 8 columns]

In [26]:
scores_allyears['year_new'] = scores_allyears.year.map({2008:2008, 2009:2009, 2010:2010, 2011:2011, 2012:2012, 2013:2013,
                                                 2014:2014, 2015:2015, 2016:2016, 2017:2017, 2018:2018, 2019:2019, 2020:2020, 2021:2020})
scores_allyears

                            date      tweet_id  ... subjectivity  year_new
0      2008-12-30 01:43:34+00:00  1.085064e+09  ...     0.550000      2008
1      2008-12-22 01:05:33+00:00  1.071395e+09  ...     0.750000      2008
2      2008-11-30 08:15:56+00:00  1.030483e+09  ...     0.600000      2008
3      2008-11-26 17:13:38+00:00  1.024857e+09  ...     0.600000      2008
4      2008-11-07 23:19:23+00:00  9.956758e+08  ...     0.300000      2008
...                          ...           ...  ...          ...       ...
14933  2021-01-04 23:14:23+00:00  1.350000e+18  ...     0.663636      2020
14934  2021-01-04 16:03:41+00:00  1.350000e+18  ...     0.500000      2020
14935  2021-01-03 21:55:38+00:00  1.350000e+18  ...     0.400000      2020
14936  2021-01-01 20:01:45+00:00  1.350000e+18  ...     0.950000      2020
14937  2021-01-01 17:49:12+00:00  1.350000e+18  ...     0.700000      2020

[14938 rows x 8 columns]

In [27]:
agg_score = scores_allyears.groupby('year_new').mean().drop(['tweet_id','year'], axis=1)
agg_score

             vader  subjectivity
year_new
2008      0.371095      0.459237
2009      0.372626      0.475603
2010      0.363930      0.490337
2011      0.314978      0.483623
2012      0.314342      0.471159
2013      0.265203      0.455515
2014      0.274153      0.439074
2015      0.253708      0.426396
2016      0.253013      0.419337
2017      0.231176      0.413557
2018      0.307571      0.429923
2019      0.342758      0.425779
2020      0.360757      0.422651

In [29]:
agg_score.to_csv('alltweets_score.csv')